.counterBox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    /* background-color: white; */
    border: 2px solid white;
    border-radius: 12px;
    padding: 12px 20px;
    width: fit-content;
    margin: 20px auto;
    color: white;
    font-family: sans-serif;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.counterBtn {
    /* background-color: black; */
    color: white;
    border: 3px solid white;
    border-radius: 8px;
    width: 35px;
    height: 35px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
}

.counterBtn:hover {
    background-color: white;
    color: black;
    transform: translateY(-2px);
}

.counterNumber {
    font-size: 22px;
    font-weight: 600;
    min-width: 40px;
    text-align: center;
}