* {
    /* color: white; */
    font-family: sans-serif;
}

body {
    background-image: url(../assets/homeBackground.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.Loading{
    width: 50%;
    height: 50vh;
    background-image: url(../assets/giphy.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.error {
    width: 50%;
    height: 50vh;
    background-image: url(../assets/error.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}